# 环境配置
app:
  env: "development" # development|staging|production
  url: "http://localhost:8080"
  name: "naxs-api"
  version: "1.0.0"
  debug: true

# 服务器配置
server:
  addr: "0.0.0.0"
  port: "8080"

# 数据库配置
database:
  pgsql:
    host: "localhost"
    port: "5432"
    user: "xel"
    password: "1234"
    dbname: "naxs"
    sslmode: "disable"
    max_open_conns: 25
    max_idle_conns: 5
    conn_max_lifetime: "5m"

  redis:
    host: "localhost"
    port: "6379"
    password: ""
    db: 0

# 日志配置
log:
  level: "info" # debug|info|warn|error
  format: "json" # json|text
  output: "file" # stdout|file
  file:
    path: "./logs/app.log"
    max_size: 100 # MB
    max_backups: 5 # 保留备份数
    max_age: 30 # days 日志保留天数

# JWT认证配置
auth:
  jwt:
    secret: "aoxllt2004"
    access_expire: "15m"
    refresh_expire: "720h"

# 中间件配置
middleware:
  cors:
    enabled: true
    allowed_origins: ["http://localhost:5173"]
    allowed_methods: ["GET", "POST", "PUT", "DELETE", "OPTIONS"]
    allowed_headers: ["Content-Type", "Authorization"]
    allowed_credentials: true

smtp:
  host: "smtp.qq.com" # SMTP 服务器地址（改为 126 邮箱）
  port: "587" # SMTP 端口
  email: "1685896718@qq.com" # 你的 126 邮箱
  password: "uixrusdgdcsugiea" # 126 邮箱授权码

# 邮件异步发送配置
email:
  queue_size: 200
  workers: 5
  enqueue_timeout: "200ms"
  max_attempts: 3
  send_timeout: "10s"

oauth:
  github:
    client_id: "your_github_client_id"
    client_secret: "your_github_client_secret"
    redirect_url: "http://localhost:8080/oauth/github/callback"

  google:
    client_id: "343947110578-8j82e4jitb12pfoa1mt207sprlq1tn51.apps.googleusercontent.com"
    client_secret: "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"
    redirect_url: "http://localhost:8080/api/v1/user/google/callback"
    scopes:
      - "https://www.googleapis.com/auth/userinfo.email"
      - "https://www.googleapis.com/auth/userinfo.profile"